h1{

    color:red;
    border-bottom: 1px;
    border-bottom-style: solid;
   
}

h2 {
    color:gray;
    margin-left: 100px;
}

#under {
    text-decoration: underline;
    text-decoration-color: red;
}

p {
    font-size: small;
    font-family: sans-serif;
    margin-left: 100px;
}

em {
    color: blue;
    font-weight: bold;
}

img  {
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
}